#header{
    opacity: 33.3%;
}

.home{
    background-image: image("src/components/images/2272990e286120f038b235cf5920e64c.jpg");
}
.home{
    animation: fadeInAnimation ease 3s;
    anmation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}